@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Open+Sans+Condensed:300,700);
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700');

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

html.ios {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
    height: initial !important;
}

header {
    background-image: url('http://subtlepatterns.com/patterns/use_your_illusion.png');
    margin: 0;
    border-bottom: 3px solid hsl(195, 73%, 58%);
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 10px 10px 10px;
    background-color: hsl(206, 35%, 13%);
    border-top: 3px solid hsl(195, 73%, 58%);
    height: 50px;
    color: #fff;
    font-size: 12px;
    z-index: 100;
}

footer a {
    color: hsl(195, 73%, 58%);
}

#main-wrapper {
    position: relative;
    padding-bottom: 75px !important;
}

.lpad {
    padding: 15px;
}

.banner {
    background-image: url('http://navinsarmaphotography.com/wp-content/gallery/northeast/muddy_creek_snow_icicle_tree.jpg');
    background-size: 100% 100%;
    height: 500px;
    border-radius: 3px;
    margin-top: 20px;
}

#searchform {
    display:inline;
    font-size:1em;
    border-radius: 8em;
    border:0.1em solid rgba(70, 187, 226, 1);
    box-shadow:0 0 0.3em rgba(60,60,60,0.4);
    padding:0.3em;
    background: transparent;
}

#s {
    transition:all 0.2s ease-out;
    width:1px;
    border-radius:0;
    box-shadow:none;
    outline: none;
    padding:0;
    border:0;
    background-color: transparent;
    opacity:0;
    margin-top: 13px;
}

#s:focus {
    width:8em;
    opacity:1;
}

#searchform label {
    padding-left: 1px;
    display:inline-block;
    margin-top:0.3em;
    color: rgba(70, 187, 226, 1);
    text-shadow:0 0 0.1em rgba(60,60,60,0.3);
    position: relative;
    left:0.1em;
}

.navbar-brand {
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 400;
}

.navbar-default {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar .navbar-default a {
    margin: 0 7px;
    color: hsl(0, 0%, 70%);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

#nav > ul > li > a:hover {
    color: #fff;
}

.navbar .navbar-default a:last-child {
    margin: 7px 0 7px 7px;
}

.navbar .navbar-default a.current {
    color: hsl(0, 0%, 100%);
}

.top-msg {
    border-bottom: 5px solid hsla(0, 0%, 90%, .3);
    color: hsl(0, 0%, 40%);
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 10px;
}

.row {
    margin-left: 20px;
    margin-right: 20px;
}

.breadcrumb a {
    transition: color .5s;
}

.breadcrumb a:hover {
    color: hsl(0, 0%, 20%);
    text-decoration: none;
}

.breadcrumb a:after {
    content: '\00a0\00a0\002F\00a0\00a0';
    color: hsl(0, 0%, 70%);
}

a.primary {
    color: hsl(0, 0%, 70%);
    transition: color .5s;
}

a.primary:hover {
    color: hsl(195, 73%, 58%);
}

a.underline {
    color: hsl(0, 0%, 70%);
    text-decoration: none;
}

a.underline:hover:after {
    content: '';
    display: block;
    width: inherit;
    height: 2px;
    background-color: hsl(195, 73%, 58%);
    margin-bottom: -2px;
    animation: link .9s ease;
}

@keyframes link {
    from { width: 0; }
    to   { width: 100%;}
}

.table a {
    transition: color .5s;

    color: hsl(195, 73%, 58%);
    font-weight: 600;
}

.table a:hover {
    color: hsl(195, 73%, 48%);
}

/* Topic */
.rounded {
    overflow: hidden;
}

.rounded.top {
    border-radius: 4px 4px 0 0;
}

.rounded.all {
    border-radius: 4px;
}

.forum-category {
    background-color: hsl(195, 73%, 58%);
    margin-top: 20px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 13px;
    text-shadow: 0 1px 1px hsl(195, 73%, 40%);
}

.forum-head {
    background-color: hsl(206, 35%, 13%);
    border-right: 1px solid hsl(212, 35%, 15%);
    border-left: 1px solid hsl(212, 28%, 12%);

    color: hsl(0, 0%, 100%);
    font-weight: 300;
    font-size: 12px;
    text-shadow: 0 1px 1px hsl(0, 0%, 0%);
    text-align: center;
}

.forum-head:first-child {
    text-align: left;
    border-left: none;
}

.forum-head:last-child {
    border-right: none;
}

.forum-topic {
    min-height: 71px;
    background-color: hsl(0, 0%, 96%);
    border-bottom: 1px solid hsl(0, 0%, 90%);
    color: hsl(0, 0%, 50%);
    font-size: 12px;
}

.forum-icon {
    color: hsl(0, 0%, 60%);
    font-size: 30px;
    text-align: center;
}

.forum-topic:last-child {
    text-align: left;
}

.forum-topic a {
    transition: color .5s;

    color: hsl(195, 73%, 58%);
    font-weight: 600;
}

.forum-topic a:hover {
    color: hsl(195, 73%, 48%);
}

.forum-topic span {
    display: block;
    margin: 0 0 2px 0;
}

.overflow-control {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.forum-topic:nth-child(2) span.overflow-control {
    width: 70%;
    height: 15px;
}

.forum-topic span.center {
    padding-top: 10px;
}

.normal {
    background-color: hsl(0, 0%, 96%);
    color: hsl(0, 0%, 50%);
    font-size: 12px;
}

.normal h1.inset {
    background-color: hsl(206, 35%, 13%);
    margin: -20px -15px 20px -15px;

    color: hsl(0, 0%, 100%);
    padding: 15px 20px 15px 20px;
    font-size: 12px;
    font-weight: 300;
}

.normal p {
    margin: 0 0 40px 0;
    line-height: 20px;
}

.normal p:last-child {
    margin: 0;
}

.forum-img {
    margin-left: -30px;
    margin-right: 30px;
    position: relative;
}

.forum-img span {
    position: absolute;
    top: 10px;
    left: 30px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
}

#top-button {
    display: none;
    width: 27px;
    background-color: hsl(206, 35%, 13%);
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
    z-index: 999 !important;

    padding: 5px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

#top-button.show {
    display: block;
}

.group-list {
    padding: 0;
    list-style-type: none;
}

.group-list li a {
    color: #fff;
    width: 100%;
}

.group-list li a:hover {
    color: #fff;
    text-decoration: none;
}

.group-list li {
    color: #fff;
    font-size: 16px;
    padding: 15px;
    display: block;
}

.group-list li:first-child {
    border-radius: 3px 3px 0 0;
}

.group-list li:last-child {
    border-radius: 0 0 3px 3px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.sub-bar {
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
}

.sub-button {
    padding: 7px 5px 5px 5px;
    color: hsl(206, 35%, 13%) !important;
    margin-right: 20px;
}

.sub-button:last-child {
    margin-right: 0;
}

.top-content {
    margin-top: 30px !important;
}

.blocks {
    width: 100%;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
}

.user-stats {
    flex: 1;
    text-align: center;
    margin-top: 10px;
}


.user-stats strong {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    color: #B3B1B2;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: -0.2px;
}

.user-stats span {
    font-size: 18px;
    color: #5E5E5E;
    padding: .18em 0;
    display: inline-block;
}

/* Fancy box links in player dashboard */
[class^="link-"] {
    display: inline-block;
    margin: 2em
}

.panel-link ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
    -webkit-backface-visibility: hidden; backface-visibility: hidden;
}

.var_nav {
    position:relative;
    background:#f1f1f1;
    height:70px;
    margin-bottom:5px;
}

.link_bg {
    width:70px;
    height:70px;
    position:absolute;
    background:hsl(206, 35%, 13%);
    color:#636b6f;
    z-index:2;
}

.link_bg i {
    position:relative;
}

.link_title {
    position:absolute;
    width:100%;
    z-index:3;
    color:#636b6f;
}

.link_title:hover .icon {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
}

.var_nav:hover .link_bg {
    width:100%;
    background:hsl(206, 35%, 13%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.var_nav:hover a {
    font-weight: bold;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.panel-link .icon {
    position: relative;
    width: 70px;
    height: 70px;
    text-align: center;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    float: left;
    transition: all .5s ease-in-out;
    float: left;
}

.panel-link .icon i{top:22px;position:relative;}

.panel-link a {
    display:block;
    position:absolute;
    float:left;
    font-family:arial;
    color:#636b6f;
    text-decoration:none;
    width:100%;
    height:70px;
    text-align:center;
}

.panel-link span {
    margin-top:25px;
    display:block;
}

.theme-switcher {
    background-color: transparent;
    border: 1px solid #0099cc;
    color: #ffffff;
}

.progress {
    width: 80%;
    margin: auto;
}

.forum-img a {
    color: #fff !important;
}

.avatar {
    min-height: 150px;
    min-width: 150px;
    max-width: 150px;
    max-height: 150px;
}

.prefix {
    font-size: 20px;
    margin: 5px;
    font-weight: bolder;
}

.mini {
    background-color: rgba(255,255,255,0.3);
    padding: 10px;
    margin-left: -10px;
    margin-top: -10px;
    width:300px;
    vertical-align:top;
}

.online {
    color: #28b25f;
}

.inline {
    display: inline;
}

.post {
    margin-left: -15px;
    margin-top: -20px;
}

.post td {
    padding: 10px;
}

.mini {
    background-color: rgba(255,255,255,0.3);
    width:300px !important;
}

img {
    max-width: 100% !important;
}

.thumbnail a:hover, .thumbnail:hover {
    text-decoration: none;
}

#messages > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.message {
    color: white;
    padding: 18px 20px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}

.my-message {
    background: #86BB71;
}

.other-message {
    background: #94C2ED;
}

.group-type {
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 0 3px 0 rgba(0,0,0,0.3);
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.wysiwyg {
    height: 250px !important;
}

@media only screen and (max-width: 768px) {
    .banner {
        height: 145px !important;
        max-height: 100%;
    }

    #content-footer {
        display: none;
    }

    #sidebar {
        display: none;
    }

    .sidebar-toggle {
        z-index: 10;
    }

    footer {
        height: 75px;
    }

    #ooc-catas, #ic-catas {
        margin-bottom: 10px;
    }

    .sub-bar {
        height: auto !important;
    }

    .sub-bar a {
        display: block;
    }
}