.bg {
    position: absolute;
    height: auto;
    max-height:100%;
    overflow:auto;
    width: 480px;
    top: 0px;
    z-index: 0;
    background-color: #ffe4c7;
}

@media (max-width: 600px) {
    .bg {
        max-height: 200px !important;
    }
}

.layer {
    position: fixed;
    top: 0px;
    margin: auto;
    width: 100%;
    z-index: 100;
    min-height: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: top center;
    background-repeat: no-repeat;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
}

.parallax-group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax-group div:nth-child(1) {
    background-color: #ffe4c7;
    margin-top: 600px;
    background-color: #d9d1b8;
    transform: translateZ(-12px) scale(13);
}

.parallax-group div:nth-child(1):before {
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-image: linear-gradient(135deg, transparent 66%, #d9d1b8 66.01%), linear-gradient(45deg, #d9d1b8 34%, transparent 34.01%);
    background-position: 293px 0px;
    background-size: 200px 100%;
    background-repeat: repeat-x;
}

.parallax-group div:nth-child(2) {
    background-color: #ffe4c7;
    margin-top: 900px;
    background-color: #b3beaa;
    transform: translateZ(-10px) scale(11);
}

.parallax-group div:nth-child(2):before {
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-image: linear-gradient(135deg, transparent 66%, #b3beaa 66.01%), linear-gradient(45deg, #b3beaa 34%, transparent 34.01%);
    background-position: 216px 0px;
    background-size: 200px 100%;
    background-repeat: repeat-x;
}

.parallax-group div:nth-child(3) {
    background-color: #ffe4c7;
    margin-top: 1200px;
    background-color: #8cab9b;
    transform: translateZ(-8px) scale(9);
}

.parallax-group div:nth-child(3):before {
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-image: linear-gradient(135deg, transparent 66%, #8cab9b 66.01%), linear-gradient(45deg, #8cab9b 34%, transparent 34.01%);
    background-position: 295px 0px;
    background-size: 200px 100%;
    background-repeat: repeat-x;
}

.parallax-group div:nth-child(4) {
    background-color: #ffe4c7;
    margin-top: 1500px;
    background-color: #66988d;
    transform: translateZ(-6px) scale(7);
}

.parallax-group div:nth-child(4):before {
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-image: linear-gradient(135deg, transparent 66%, #66988d 66.01%), linear-gradient(45deg, #66988d 34%, transparent 34.01%);
    background-position: 27px 0px;
    background-size: 200px 100%;
    background-repeat: repeat-x;
}

.parallax-group div:nth-child(5) {
    background-color: #ffe4c7;
    margin-top: 1800px;
    background-color: #40857e;
    transform: translateZ(-4px) scale(5);
}

.parallax-group div:nth-child(5):before {
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-image: linear-gradient(135deg, transparent 66%, #40857e 66.01%), linear-gradient(45deg, #40857e 34%, transparent 34.01%);
    background-position: 299px 0px;
    background-size: 200px 100%;
    background-repeat: repeat-x;
}

.parallax-group div:nth-child(6) {
    background-color: #ffe4c7;
    margin-top: 2100px;
    background-color: #197370;
    transform: translateZ(-2px) scale(3);
}

.parallax-group div:nth-child(6):before {
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-image: linear-gradient(135deg, transparent 66%, #197370 66.01%), linear-gradient(45deg, #197370 34%, transparent 34.01%);
    background-position: 224px 0px;
    background-size: 200px 100%;
    background-repeat: repeat-x;
}

.fill {
    height: 80%;
}